
.container {
	width: 100%;
}

.page-header {
	text-align: center;
	font-style: italic;
	font-weight: lighter;
	font-family: Times, serif;
}

.row {
	margin-top: 30px;
}

.input-group {
	width: 40%;
	margin: 0 30% 15px 30%;
}

.margin-style {
	margin-top: 10px;
	margin-bottom: 10px
}




.top {
	margin-top: 5px;
}



.categories {
	text-align: center;
}



.checkbox {
	display: inline;
	margin-left: 12px;
	margin-right: 12px;
}




.panel {
	margin-top: 20px;
	margin-bottom: -10px;
}

/*.new-upload {
	margin-top: 20px;
}

.edit-upload {
	margin-top: 20px;
}*/

.upload{
	margin-left: 50px;
}

.header-img {
	height: 24px;
	width: 155px;
}

.underline1:hover {
	border-bottom-color: green;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

.underline2:hover {
	border-bottom-color: orange;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}


