
.container {
	width: 100%;
}

body{
	font-family: 'Lato', sans-serif;
}

/*input {
	margin-left: 20px;
}*/

h3 {
	margin-left: 60px;
	text-decoration: underline;
}

.row {
	margin-top: 40px;
}

.col-sm-2 {
	padding: 0;
}

./*input-group {
	width: 40%;
	margin: 0 30% 15px 30%;
}*/

.margin-style {
	margin-top: 10px;
	margin-bottom: 10px
}

.radiob {
	padding-left: 40px;
}


.top {
	margin-top: 5px;
}



.categories {
	text-align: center;
}



.checkbox {
	display: inline;
	margin-left: 12px;
	margin-right: 12px;
}




.panel {
	margin-top: 20px;
	margin-bottom: -10px;
}

.new-upload {
	margin-left: 10px;
}

/*.edit-upload {
	margin-top: 20px;
}*/

.upload{
	margin-left: 50px;
}

.header-img {
	height: 24px;
	width: 155px;
}

.underline1:hover {
	border-bottom-color: green;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

.underline2:hover {
	border-bottom-color: orange;
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

